# Шахматный турнир

Считываем матрицу из файла

In [11]:
import numpy as np
import pandas as pd

home_data = pd.read_csv('data1.csv', sep=';')

n=len(home_data)


print("Турнирная таблица: ")
home_data

Турнирная таблица:

     0    1    2    3    4    5    6    7
0  0.0  1.0  0.5  0.5  0.5  1.0  0.5  0.5
1  0.0  0.0  0.5  0.5  0.5  0.0  0.0  1.0
2  0.5  0.5  0.0  0.5  1.0  0.0  0.5  0.5
3  0.5  0.5  0.5  0.0  0.5  0.5  0.5  0.5
4  0.5  0.5  0.0  0.5  0.0  0.5  0.5  0.0
5  0.0  1.0  1.0  0.5  0.5  0.0  1.0  0.5
6  0.5  1.0  0.5  0.5  0.5  0.0  0.0  0.5
7  0.5  0.0  0.5  0.5  1.0  0.5  0.5  0.0

Добавляем вектор побед и сортируем

In [4]:
vect = np.ones(n)

win_vect = np.dot(home_data,vect)
home_data['Wins'] = win_vect
home_data.sort_values(['Wins'], ascending=[0])

     0    1    2    3    4    5    6    7  Wins
0  0.0  1.0  0.5  0.5  0.5  1.0  0.5  0.5   4.5
5  0.0  1.0  1.0  0.5  0.5  0.0  1.0  0.5   4.5
2  0.5  0.5  0.0  0.5  1.0  0.0  0.5  0.5   3.5
3  0.5  0.5  0.5  0.0  0.5  0.5  0.5  0.5   3.5
6  0.5  1.0  0.5  0.5  0.5  0.0  0.0  0.5   3.5
7  0.5  0.0  0.5  0.5  1.0  0.5  0.5  0.0   3.5
1  0.0  0.0  0.5  0.5  0.5  0.0  0.0  1.0   2.5
4  0.5  0.5  0.0  0.5  0.0  0.5  0.5  0.0   2.5

Несколько игроков имеют одинаковое количество очков, добавим коэффициент Бергера

In [5]:
Berg_vect = np.zeros(n)


for i in range(n):
    for j in range(n):
    
        if home_data.values[i][j]==1:
            Berg_vect[i]+=home_data.values[j][n]
            
        elif home_data.values[i][j]==1/2:
            Berg_vect[i]+=(home_data.values[j][n])/2
            
home_data['Berg'] = Berg_vect

home_data.sort_values(['Wins', 'Berg'], ascending=[False, False])

     0    1    2    3    4    5    6    7  Wins   Berg
0  0.0  1.0  0.5  0.5  0.5  1.0  0.5  0.5   4.5  15.25
5  0.0  1.0  1.0  0.5  0.5  0.0  1.0  0.5   4.5  14.25
3  0.5  0.5  0.5  0.0  0.5  0.5  0.5  0.5   3.5  12.25
7  0.5  0.0  0.5  0.5  1.0  0.5  0.5  0.0   3.5  12.25
2  0.5  0.5  0.0  0.5  1.0  0.0  0.5  0.5   3.5  11.25
6  0.5  1.0  0.5  0.5  0.5  0.0  0.0  0.5   3.5  11.25
4  0.5  0.5  0.0  0.5  0.0  0.5  0.5  0.0   2.5   9.25
1  0.0  0.0  0.5  0.5  0.5  0.0  0.0  1.0   2.5   8.25

Добавим усредненный коэффициент

In [6]:
def berger(home_data):

    Berg_vect = np.zeros(n)
    Berg_vect_min=np.zeros(n)


    for i in range(n):
        Berg_vect_min[i]=100
        for j in range(n):
    
            if home_data.values[i][j]==1:
                Berg_vect[i]+=home_data.values[j][n]
                if Berg_vect_min[i]>home_data.values[j][n]:
                    Berg_vect_min[i]=home_data.values[j][n]
            
            elif home_data.values[i][j]==1/2:
                Berg_vect[i]+=(home_data.values[j][n])/2
                if Berg_vect_min[i]>(home_data.values[j][n])/2:
                    Berg_vect_min[i]=(home_data.values[j][n])/2
         
        
    Berg_vect=Berg_vect-Berg_vect_min
    home_data['Berg 2'] = Berg_vect
    home_data


berger(home_data)
home_data.sort_values(['Wins', 'Berg', 'Berg 2'], ascending=[False, False, False])

     0    1    2    3    4    5    6    7  Wins   Berg  Berg 2
0  0.0  1.0  0.5  0.5  0.5  1.0  0.5  0.5   4.5  15.25    14.0
5  0.0  1.0  1.0  0.5  0.5  0.0  1.0  0.5   4.5  14.25    13.0
3  0.5  0.5  0.5  0.0  0.5  0.5  0.5  0.5   3.5  12.25    11.0
7  0.5  0.0  0.5  0.5  1.0  0.5  0.5  0.0   3.5  12.25    10.5
2  0.5  0.5  0.0  0.5  1.0  0.0  0.5  0.5   3.5  11.25    10.0
6  0.5  1.0  0.5  0.5  0.5  0.0  0.0  0.5   3.5  11.25    10.0
4  0.5  0.5  0.0  0.5  0.0  0.5  0.5  0.0   2.5   9.25     8.0
1  0.0  0.0  0.5  0.5  0.5  0.0  0.0  1.0   2.5   8.25     7.0

Kendall - Wei

In [9]:
home_data_for_KW = pd.read_csv('data1.csv', sep=';')
vect = np.ones(n)
delta = 1e-8

def matrix_eigenvalue(matr, vect):
    tmp = np.dot(matr,vect)
    return np.dot(vect, tmp)

def KW(A):
    vect = np.ones(n)
    win_vect = np.dot(A,vect)
    r_1 = win_vect
    lam = matrix_eigenvalue(A, r_1)

    while True:
        Ar = np.dot(A,r_1)
        r_1_norm = Ar / np.linalg.norm(Ar)
        lam_new = matrix_eigenvalue(A, r_1_norm)
        
        error = np.abs(lam-lam_new)
        if (error < delta):
            break
            
        r_1 = r_1_norm
        lam = lam_new

    return r_1_norm

V = KW(home_data_for_KW.values)
V = V / np.dot(V,vect)
print("Собственный вектор: \n", V)

Собственный вектор:
 [0.16016881 0.0899689  0.12196109 0.12903232 0.09653671 0.15133876
 0.12111363 0.12987978]

In [10]:
home_data['KW'] = V
home_data.sort_values(['Wins', 'Berg', 'Berg 2'], ascending=[False, False, False])

     0    1    2    3    4    5    6    7  Wins   Berg  Berg 2        KW
0  0.0  1.0  0.5  0.5  0.5  1.0  0.5  0.5   4.5  15.25    14.0  0.160169
5  0.0  1.0  1.0  0.5  0.5  0.0  1.0  0.5   4.5  14.25    13.0  0.151339
3  0.5  0.5  0.5  0.0  0.5  0.5  0.5  0.5   3.5  12.25    11.0  0.129032
7  0.5  0.0  0.5  0.5  1.0  0.5  0.5  0.0   3.5  12.25    10.5  0.129880
2  0.5  0.5  0.0  0.5  1.0  0.0  0.5  0.5   3.5  11.25    10.0  0.121961
6  0.5  1.0  0.5  0.5  0.5  0.0  0.0  0.5   3.5  11.25    10.0  0.121114
4  0.5  0.5  0.0  0.5  0.0  0.5  0.5  0.0   2.5   9.25     8.0  0.096537
1  0.0  0.0  0.5  0.5  0.5  0.0  0.0  1.0   2.5   8.25     7.0  0.089969